<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Traore Abdoulaye</h2>
      <h4>kamssa0@gmail.com</h4>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cat">Categories</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/prod">Produits</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/article">Articles</a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Administration</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Employés
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Departements
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>
